{% extends "layout.html.twig" %}

{% block title %}PIZZERIA MAMMAMIA | Book a table
{% endblock %}

{% block content %}
	<div class="wrapper h-100 flex-between">
		<div id="booking-facility-form" class="center w-100 h-75">
			<div class="selection-area w-100 flex-evenly">
				<label class="center" for="booking-select">Select Table:</label>
				<select class="booking-select" id="booking-select">
					<option value="0">----- Select a table -----</option>
					{% for table in tables %}
						{% if not table.taken %}
							<option value="{{ table.id }}">Table number
								{{ table.id }}
								({{ table.n_person }}
								people)</option>
						{% endif %}
					{% endfor %}
				</select>

				<label class="center" for="booking-date">Select Date:
				</label>
				<select id="booking-date" name="booking-date" class="booking-date-input">
					{% for i in 0..6 %}
						{% set currentDate = date().modify('+' ~ i ~ ' day') %}
						<option value="{{ currentDate|date('Y-m-d') }}" {% if currentDate|date('Y-m-d') == date %} selected {% endif %}>{{ currentDate|date('Y-m-d') }}</option>
					{% endfor %}
				</select>
			</div>
			<ul class="container" id="tableList">
				{% for table in tables %}
					<li id="{{table.id}}" class="t{{table.id}}-{{table.n_person}}" data-tableistaken="{{table.taken ? 'true' : 'false'}}">
						<div>Table
							{{table.id}}</div>
						<div>({{table.n_person}}
							people)</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<aside id="tables-info">
			<div class="selected-tables-info m-10">
				<h1>Selected tables</h1>
				<small>Click on the
					<i class="fas fa-times" title="remove table"></i>
					to remove the table from the list</small>
				<div id="selected-tables-list" role="list"></div>
			</div>
			<button id="book-btn">Book!</button>
		</aside>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="assets/scripts/booking-facility.js"></script>
{% endblock %}
