{% extends "layout.html.twig" %}

{% block content %}
	<div class="wrapper flex-column">
		<div class="select-container flex-evenly center w-100">
			<div>select 1</div>
			<div>siumsium</div>
		</div>
		<div id="booking-facility-form" class="center w-100 h-75">
			<ul class="container" id="tableList">
				{% for table in tables %}
					<li id="{{table.id}}" class="t{{table.id}}-{{table.n_person}}" data-tableistaken="{{table.is_taken ? 'true' : 'false'}}">
						<div>Table:
							{{table.id}}</div>
						<div>{{table.n_person}}
							people</div>
					</li>
				{% endfor %}
			</ul>
			<button id="book-btn">Book!</button>
		</div>
	</div>
	 <script>
																
						const list = document.getElementById('tableList');
						
						const selectedTables = [];
						console.log(selectedTables);
						[...list.children].forEach((li) => {
							li.addEventListener('click', () => {
								if (li.dataset.tableistaken == 'false' && !selectedTables.some(table => table.id === parseInt(li.id))) {
									selectedTables.push({ id: parseInt(li.id), isTaken: true });
									li.style.backgroundColor = 'green';
								} else if (li.dataset.tableistaken == 'false') {
									selectedTables.pop({ id: li.id });
									li.dataset.tableistaken = 'false';
									li.style.backgroundColor = '#6f4518';
								}
								console.log(selectedTables)
							})
						});
						
						document.getElementById('book-btn').addEventListener('click',async (e) => {		
							let results = await fetch('booking-facility.php', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json'
								},
								body: JSON.stringify({ tables: selectedTables })
							});
							if (!results.ok) {
								return;
							}
						
							for(table of selectedTables){
								let li = document.getElementById(table.id);
								li.style.backgroundColor = ""
								li.dataset.tableistaken = table.isTaken ? "true" : "false";
							}
						})
						
		</script>
{% endblock %}
