{% extends "layout.html.twig" %}

{% block title %}PIZZERIA MAMMAMIA | Contact Us
{% endblock %}

{% block content %}
{% if is_admin %}
	<div class="form-container h-100">
		<div class="form-body">
			<h1>PIZZERIA MAMMAMIA</h1>
			<form action="dish.php" method="POST" enctype="multipart/form-data">
				<div class="form-group {% if errors['name'] %} form-error {% endif %}">
					<label for="name">Dish Name</label>
					<input type="text" required name="name" value="{{old.name}}" placeholder="DishName">
					{% include 'error.html.twig' with {field: 'name'} %}
				</div>
				<div class="form-group {% if errors['description'] %} form-error {% endif %}">
					<label for="description">Dish Description</label>
					<input type="text" required name="description" value="{{old.description}}" placeholder="Dish Description">
					{% include 'error.html.twig' with {field: 'description'} %}
				</div>
				<div class="form-group {% if errors['price'] %} form-error {% endif %}">
					<label for="price">Dish Price</label>
					<input type="number" required min="0" max="1000" name="price" value="{{old.price}}" placeholder="Dish Price">
					{% include 'error.html.twig' with {field: 'price'} %}
				</div>
				<div class="form-group {% if errors['category_id'] %} form-error {% endif %}">
					<label for="category_id">Select Category:</label>
					<select required name="category_id">
						<option value="0">
							Select a category -----</option>
						{% for category in categories %}
							<option value="{{category.id}}" {% if category.id == old.category_id %} selected {% endif %}>{{ category.name }}</option>
						{% endfor %}
					</select>
					{% include 'error.html.twig' with {field: 'category_id'} %}
				</div>
				<div class="form-group {% if errors['image'] %} form-error {% endif %}">
					<label for="image">Dish Image</label>
					<input required type="file" name="image" accept="image/*">
					{% include 'error.html.twig' with {field: 'image'} %}
				</div>
				<div class="form-group">
					<button class="submit-button" type="submit">Create Dish</button>
				</div>
			</div>
		</form>
	</div>
</div>{% endif %}{% endblock %}
