{% extends 'layout.html.twig' %}

{% block content %}
	<section class="dish-details-container" style="background-image:url('assets/{{ dish.image }}" alt="{{ dish.name }}')">
		<div class="detail-header center">
			<h1 class="m-0">{{ dish.name }}</h1>
			{% if logged %}
				<button data-isfavorite="{{dish.favorite}}" id="{{dish.id}}" class="like-btn" aria-label="Add {{dish.name}} to favorites">
					<i title="Toggle {{dish.name}} favorite." class="{% if dish.favorite == 1 %}fa-solid {% else %} fa-regular {% endif %} fa-heart"></i>
				</button>
			{% endif %}
			<span class="card-chip">{{ dish.category }}</span>
		</div>
		<div class="detail-body flex-column center">
			<div class="description p-10">{{ dish.description }}</div>
			<div class="price center">${{ dish.price }}</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="assets/scripts/like.js"></script>
{% endblock %}
