{% extends "layout.html.twig" %}

{% block title %}PIZZERIA MAMMAMIA | Menu
{% endblock %}

{% block content %}
	<section class="menu-wrapper">
		<div class="flex-between p-20">
			<div class="category-selector selection-area">
				<label class="center" for="category-select">Select Category:</label>
				<select class="booking-select" id="category-select">
					<option value="All">All</option>
					{% for category in categories %}
						<option value="{{category.id}}" {% if category_filter == category.id %} selected {% endif %}>{{ category.name }}</option>
					{% endfor %}
				</select>
			</div>
			{% block additional_headings %}
				{% if is_admin %}
					<div class="center">
						<button class="submit-button">
							<a href="create-category" class="p-10">Create Category</a>
						</button>
					</div>
					<div class="center">
						<button class="submit-button">
							<a href="create-dish" class="p-10">Create Dish</a>
						</button>
					</div>
				{% endif %}
			{% endblock %}
		</div>
		<div class="menu-items-container" role="list">
			{% for item in menu_items %}
				<div class="card" role="listitem">
					<div class="card-image">
						<figure class="m-0">
							<img src="assets/{{ item.image }}" alt="{{ item.name }} image">
							<figcaption>{{ item.name }}</figcaption>
						</figure>
					</div>
					<div class="card-header flex-between">
						<h1>{{ item.name }}</h1>
						{% if is_admin %}
							<button data-id="{{item.id}}" class="delete-btn">
								<i class="fa-trash fa-solid" title="Delete {{item.name}}"></i>
							</button>
						{% endif %}
					</div>
					<div class="card-body">
						<div class="card-content">
							<p>{{ item.description }}</p>
							<p class="price">{{ item.price }}</p>
							<a class="details-link" href="dish-detail?dish_id={{item.id}}">
								Go to {{item.name}} details
								<i class="fa-chevron-right fa-solid" title="go to {{item.name}} details"></i>
							</a>
						</div>
						<hr/>
						<div class="card-footer">
							<span class="card-chip">{{ item.category }}</span>
							<button data-isfavorite="{{item.favorite}}" id="{{item.id}}" class="like-btn" aria-label="Add {{item.name}} to favorites">
								<i title="Toggle {{item.name}} favorite." class="{% if item.favorite == 1 %}fa-solid {% else %} fa-regular {% endif %} fa-heart"></i>
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script src="assets/scripts/menu.js"></script>
	<script src="assets/scripts/like.js"></script>
	{% block additional_scripts %}{% endblock %}
{% endblock %}
